fastapi
uvicorn[standard]
onnxruntime          # nếu deploy trên CPU
# onnxruntime-gpu    # uncomment dòng này nếu server có GPU
opencv-python
numpy
ultralytics
jinja2

python-multipart
gdown
